html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 18px;
	background-color: white;
	color: black;
}

.menu-l, .menu-r {
	font-size: 2em;
}

.menu-l {
	float: left;
	text-align: right;
	margin: 0 0;
	width: 45%;
}

.menu-r {
	float: right;
	text-align: left;
	margin: 0 0;
	width: 45%;
}

.menu {
	text-align: center;
	width: 100%;
}

.header {
	text-align: center;
}

a, a:visited, a:hover, a:active {
	background: linear-gradient(to bottom, #88e 0%, #224 100%);
	background-size: 2px 2px;
	background-position: 0 100%;
	background-repeat: repeat-x;
	text-decoration: none;
	transition: background-size .2s;
	color: #224;
}

a:hover {
	color: #fff;
	background-size: 2px 50px;
}

@media only screen and (max-width: 640px) {
	.menu-l, .menu-r {
		float: none;
		text-align: center;
		width: 100%;
	}
}
